{{!-- content.hbs - 内容页（Markdown -> HTML，构建期渲染） --}}
<div class="page-template page-template-{{pageId}} page-template-content">
    {{> page-header}}

    <div class="category content-category">
        <article class="content-page" data-content-file="{{contentFile}}">
            {{{contentHtml}}}
        </article>
    </div>
</div>
