{{!-- page.hbs - 通用页面模板：结构与其他页面一致（标题区 + 分类内容） --}}
<div class="page-template page-template-{{pageId}}">
    {{#if isHome}}
    {{> home-dashboard}}
    {{else}}
    {{> page-header}}
    {{/if}}
    {{#each categories}}
    {{> category}}
    {{/each}}
</div>